**/__pycache__/
wandb/
flir_night_agn/
flir_night_ada/
flir_day_agn/
flir_day_ada/
.ipynb_checkpoints/*
output/*
Pretrained Model Files/*
fixed_fusion_rgb.sh
fixed_fusion_rgb.txt
fixed_fusion_thermal_unfreeze.sh
fixed_fusion_thermal_unfreeze.txt
single_bb_rgb.sh
single_bb_rgb.txt
single_bb_thermal.sh
single_bb_thermal.txt
utils/__pycache__/*
Datasets/FLIR_Aligned/images_rgb_test/*
Datasets/FLIR_Aligned/images_rgb_train/*
Datasets/FLIR_Aligned/images_thermal_test/*
Datasets/FLIR_Aligned/images_thermal_train/*
*.pth.tar
*.pth
Datasets/M3FD/Ir/*
Datasets/M3FD/Vis/*
Datasets/STF/gated_full_acc_rect_aligned/*
Datasets/STF/cam_stereo_left_rect_aligned/*
